#ignore generated autodoc files
autodoc/**
lib/
classes/
target/
test-output/
screenshots/
.project
.classpath
testng*
junit*
*.trace
checkouts/
report.clj
automation-properties.clj
bin/
pom.xml
.settings/
